.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: black;
  height: 60px;
  z-index: 10000;
  text-align: right;
  > a{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:after{
    display: block;
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 1px;
    transform: translateX(-50%);
    background: orange;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &:hover{
    color: orange;
    &:after{
      width: 100%;
    }
  }
  }
}