<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Node.js + <%= title %> + Ejs + Javascript</h1>
    <p>리액트의 State동작을 부족하게나마 구현하여 제작해 보았습니다.</p>
    <p>모든 코드 렌더링을 진행하진 않았고, 세션으로 진행해 보았습니다.</p>

   <a href="/products/list/1"> productItem 목록</a>
  </body>
</html>
