<!DOCTYPE html>
<html lang="en">

<head>
  <% var headObj = { cssName:"products",title:"Class101 - Products"} %>
  <%- include('../common/head.ejs',headObj) %>
</head>

<body>
  <div class="wrapper">
    <div class="page__wapper" id="pageWapper">
      <h1 class="page__title">Title</h1>
      <div class="page__row">
        <div class="page__item_box col-lg-12">
          
        </div>
      </div>
    </div>
  </div>
  <% var footObj = { scriptName:"products" } %>
  <%- include('../common/foot.ejs',footObj) %>
</body>

</html>